

//.mat-table__wrapper.mat-table {
//  display: flex;
//  height: 100%;
//  width: 100%;
//  padding: 2rem;
//  flex:40%;
//}
////Second column and header
//.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
//  flex:20%;
//}
//
////Second column and header
//.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
//  flex:20%;
//}
//
//.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
//  flex:10%;
//}
////Last column and header
//.mat-header-cell:last-child,.mat-cell:last-child{
//  flex:10%
//}


.mat-table__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 1rem;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}


.tooltip.tooltip {
  background: darkturquoise;
  font-size: 15px;
}

::ng-deep .mat-tooltip {
  background: #69f0ae;
  font-size: 15px;
  color: black !important;
}

th.mat-header-cell {
  padding: 0.5rem;
}

a:-webkit-any-link {
  color: whitesmoke !important;
}
