
.example-margin {
  margin: 0 10px;

}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png');
  background-size: cover;
}

.mat-card-header {
  margin-bottom: 0.9rem;
}

.mat-card-title {
  font-family: 'Verdana', 'Arial';
  color: #3ea8c5;
  white-space: nowrap;
}

::ng-deep .mat-autocomplete-panel#md-autocomplete-0 {
  border: 3px solid whiteack !important;
  border-radius: 10px;
  background-color: green;

}

.example-full-width {
  width: 70%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.invalid {
  font: red;
}

