<form [formGroup]="searchForm" fxLayout="column">

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Search Spotify Data</mat-card-title>

    </mat-card-header>
<mat-card-content>
      <mat-checkbox class="example-margin" [disabled]="searchForm.get('album').value || searchForm.get('track').value"
                    formControlName="artist">Artist
      </mat-checkbox>
      <mat-checkbox class="example-margin" [disabled]="searchForm.get('artist').value || searchForm.get('track').value"
                    formControlName="album">Album
      </mat-checkbox>
      <mat-checkbox class="example-margin" [disabled]="searchForm.get('artist').value || searchForm.get('album').value"
                    formControlName="track">Track
      </mat-checkbox>

    <span
          *ngIf="(searchForm.get('album').value) || (searchForm.get('artist').value) || (searchForm.get('track').value)"
          [ngStyle]="{'color':'red','font-weight': 'lighter', 'margin':'-0.2rem'}">click selection to unlock</span>

</mat-card-content>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="  album, artist, track..." type="text" [matAutocomplete]="auto"
               formControlName="searchInput">
      </mat-form-field>

  </mat-card>

  <mat-autocomplete panelWidth="auto" #auto="matAutocomplete" (optionSelected)="getSelectedResult($event)">
    <mat-option *ngFor="let result of filteredSearchItems$ | async" [value]="result">

      <img *ngIf="result.img[0]" class="example-option-img" [src]="result?.img[0]" height="25">
      <span>{{result.name}}</span> |
      <small>Type: {{result.type}}</small>

    </mat-option>
  </mat-autocomplete>
</form>
