.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
 
}


::ng-deep .mat-autocomplete-panel#md-autocomplete-0{
  border: 3px solid whiteack !important;
  border-radius: 10px;
  background-color:green;

}

.example-full-width {
  width: 70%;
} 

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.invalid {
  font: red;
}

