

<form class="example-section" class="example-form" [formGroup]="searchForm">
  <h1>Search Artist, Album or Track</h1>
  <mat-checkbox class="example-margin" [disabled]="searchForm.get('album').value || searchForm.get('track').value" formControlName="artist">Artist</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="searchForm.get('artist').value || searchForm.get('track').value" formControlName="album">Album</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="searchForm.get('artist').value || searchForm.get('album').value" formControlName="track">Track</mat-checkbox>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Type album, artist or track..." type="text" [matAutocomplete]="auto" formControlName="searchInput">
  </mat-form-field>

<!--  <mat-autocomplete panelWidth="auto" #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getSelectedResult($event)">-->
  <mat-autocomplete panelWidth="auto" #auto="matAutocomplete" (optionSelected)="getSelectedResult($event)">
    <mat-option *ngFor="let result of filteredSearchItems | async" [value]="result" >

      <img *ngIf="result.img" class="example-option-img" [src]="result.img[0]" height="25">
      <span>{{result.name}}</span> |
      <small>Type: {{result.type}}</small>

    </mat-option>
  </mat-autocomplete>
</form>


<ng-container *ngIf="cardItem">
 <app-display-track [item]="cardItem" [category]="resultCategory"></app-display-track>
</ng-container>

