<ng-container *ngIf="displayConfirmation">
  <h2 mat-dialog-title>{{ dialogueTitle }}</h2>

  <mat-dialog-content>

    {{ dynamicContent }}

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
  </mat-dialog-actions>

</ng-container>

<ng-container *ngIf="newPlaylistConfig">
  <h2 mat-dialog-title>{{ dialogueTitle }}</h2>

  <mat-dialog-content>

    {{ dynamicContent }}

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="confirmPlaylistName()">Confirm New Playlist?</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
  </mat-dialog-actions>

</ng-container>
