
<div class="sm-container"><h2>{{playlist.name}}</h2></div>


<div class="container"  fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start centre">

  <app-search  (entitySelected)="handleEntity($event)" fxFlex>
  </app-search>

  <ng-container *ngIf="sEntity" fxFlex style="margin: 3rem;">

    <app-display-result fxFlex (navToActivePlaylist)="onUpdateNav($event)" (showTracksSelected)="getTracks($event)" [item]="sEntity"
                        [category]="sEntity.type">
    </app-display-result>
  </ng-container>

</div>
