.mat-table__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 1rem;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}


.tooltip.tooltip {
  background: darkturquoise;
  font-size: 13px;
}

::ng-deep .mat-tooltip {
  background: #69f0ae;
  font-size: 15px;
  color: black !important;
}

.mat-cell, mat-footer-cell, mat-header-cell {
  margin-left: 1em;
}

a:-webkit-any-link {
  color: whitesmoke !important;
}

.example-margin {
  margin: 0 10px;
}

.overlay {
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(74,74,74,.8);
  z-index:99999;
}

.spinner {
  margin: auto;
  top: 45%;
  bottom: 45%;
  left: 0;
  right: 0;
}
