<app-header></app-header>
<div class="mat-table__wrapper">
  <ng-container *ngIf="!loading">
    <mat-card>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="navigateToSearch()">
          <mat-icon svgIcon="baseline-arrow-back" matTooltip="Search Spotify Data">
          </mat-icon>
          Back
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="!loading else loader">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let track"> {{track.name}} </td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef> Album</th>
        <td mat-cell *matCellDef="let track"> {{currentEntity.type === 'album' ? currentEntity.name : track.album}} </td>
      </ng-container>

      <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef> Artist</th>
        <td mat-cell *matCellDef="let track"> {{track.artist}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration/s</th>
        <td mat-cell *matCellDef="let track"> {{track.duration}} </td>
      </ng-container>

      <ng-container matColumnDef="externalSource">
        <th mat-header-cell *matHeaderCellDef> External Source</th>
        <td mat-cell *matCellDef="let track" (click)="$event.stopPropagation()" ><a href="{{track.external_urls}}" target="blank">Listen</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr matTooltip="add +" (click)="onSelect(row)"
          [matTooltipPosition]="'above'" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>

<ng-template #loader>
  <div class="overlay">
    <mat-spinner class="spinner" [color]="'accent'" [value]="50" [mode]="'indeterminate'"></mat-spinner>
  </div>
</ng-template>

