<h1>Playlists component</h1>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
<mat-card class="example-card" *ngFor="let playlist of playlists">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{ playlist.name }}</span>
      <mat-icon fxFlex="10%">Tracks</mat-icon>
      <mat-icon fxFlex="10%">{{ playlist.tracks.total }}</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="playlist.image[0]">
</mat-card>
</div>