
<div style="height: 10%;">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span>Pavi-Phi</span>
      <mat-icon svgIcon="phi"></mat-icon>
      <mat-nav-list>
        <a style="margin-left: 50% !important;" mat-raised-button color="accent" >
          <mat-icon  svgIcon="baseline-list" matTooltip="Playlists" [routerLink]="['/playlists']">
          </mat-icon>
        </a>
      </mat-nav-list>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <a mat-raised-button color="accent" (click)="logOutOfApp()">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
