.playlist-table {
  width: 80%;
  padding: 1rem;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: -12px;
  margin-top: -12px;
}

.mat-cell, mat-footer-cell, mat-header-cell {
  margin-left: 1em;
}

.playButton {
  fill: seagreen;
}
