<h1>Playlist Add</h1>

<app-search (entitySelected)="handleEntity($event)"></app-search>

<div class="container" fxLayout="row" fxLayoutGap=”32px”>


  <ng-container *ngIf="sEntity">
    <div>
      <app-display-result (showTracksSelected)="getTracks($event)" [item]="sEntity"
                          [category]="sEntity.type">
      </app-display-result>
    </div>
  </ng-container>

  <ng-container *ngIf="tracksEntity">
    <div>
      <app-display-track [entity]="tracksEntity"></app-display-track>
    </div>
  </ng-container>
</div>
