<h1>Playlist name</h1>//TODO make playlist name as part of new navbar


<div class="container" style="padding: 5%; padding-left: 15% !important; padding-right: 15% !important;" fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start centre">

  <app-search  (entitySelected)="handleEntity($event)" fxFlex>
  </app-search>

  <ng-container *ngIf="sEntity" fxFlex>

    <app-display-result (showTracksSelected)="getTracks($event)" [item]="sEntity"
                        [category]="sEntity.type">
    </app-display-result>
  </ng-container>

</div>



