
<div fxLayout="row" fxLayoutAlign="center center" style="padding: 5%;">
  <mat-card class="example-card" fxFlex>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image [src]="backgroundImage">
    <mat-card-actions >
      <span *showIfAuth="!authState"><a fxFlex="center" href="/auth/spotify" mat-raised-button color="accent">Login with Spotify</a></span>
      <span *showIfAuth="authState"><button fxFlex="center" (click)="logUserOut()" mat-raised-button color="accent">Logout</button></span>
    </mat-card-actions>
  </mat-card>

</div>
